.card {
  background-color: var(--background-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px var(--box-shadow-color);
  color: var(--text-color);
}

.image {
  object-fit: cover;
  width: 100%;
}

.contentWrapper {
  padding: 1.5rem;
}

.metaWrapper {
  display: flex;
  margin-bottom: 0.75rem;
  gap: 1rem;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--text-secondary-color);
}

.calendar,
.tag {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.content {
  color: var(--text-color);
  margin-bottom: 1rem;
}

.date {
  font-size: 0.875rem;
  color: var(--text-secondary-color);
}
