.container {
  min-height: 100vh;
  padding: 2rem 0;
  color: var(--text-color);
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 42rem;
  margin: 0 auto;
}

/* Background Color Classes */
.bgWhite {
  background-color: var(--background-color);
}

.bgGray100 {
  background-color: #aaaaaa;
}

.bgBlue50 {
  background-color: #77cfff;
}

.bgGreen50 {
  background-color: #78ff9c;
}

.bgPurple50 {
  background-color: #c182ff;
}
